<form [formGroup]="form">
    <h1 class="h3 mb-3 font-weight-normal">Efetue Login</h1>
    <label for="inputEmail" class="sr-only">E-mail</label>
    <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Senha</label>
    <input formControlName="senha" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Lembrar-me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="autenticaAplicacao()" routerLink="/dragon">Entrar</button>
  </form>
