<div *ngIf="ativo" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="lista">
            <li class="item-lista" *ngFor="let mensagem of mensagens"><span>{{mensagem}}</span></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="confirmar()" class="btn btn-primary">Fechar</button>
      </div>
    </div>
  </div>
</div>
