<div class="form-group row">
  <label for="staticName" class="col-sm-2 col-form-label">Nome</label>
  <div class="col-sm-10">
    <input type="text" readonly class="form-control-plaintext" id="staticName" value="{{dragon?.name | uppercase}}">
  </div>
</div>
<div class="form-group row">
  <label for="staticType" class="col-sm-2 col-form-label">Tipo</label>
  <div class="col-sm-10">
    <input type="text" readonly class="form-control-plaintext" id="staticType" value="{{dragon?.type}}">
  </div>
</div>
<div class="form-group row">
  <label for="staticHistories" class="col-sm-2 col-form-label">História</label>
  <div class="col-sm-10">
    <input type="text" readonly class="form-control-plaintext" id="staticHistories" value="{{dragon?.histories}}">
  </div>
</div>
<div class="form-group row">
  <label for="staticCreatedAt" class="col-sm-2 col-form-label">Criado em</label>
  <div class="col-sm-10">
    <input type="text" readonly class="form-control-plaintext" id="staticCreatedAt" value="{{dragon?.createdAt}}">
  </div>
</div>
<button (click)="voltar()">Voltar</button>
