<div *ngIf="dragonCreate">
  <form [formGroup]="formDragon">
    <div class="form-group row">
      <label for="staticName" class="col-sm-2 col-form-label">Nome</label>
      <div class="col-sm-10">
        <input type="text" formControlName="name" class="form-control" id="staticName" value="{{dragon?.name | uppercase}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="staticType" class="col-sm-2 col-form-label">Tipo</label>
      <div class="col-sm-10">
        <input type="text" formControlName="type" class="form-control" id="staticType" value="{{dragon?.type}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="staticHistories" class="col-sm-2 col-form-label">História</label>
      <div class="col-sm-10">
        <input type="text" formControlName="histories" class="form-control" id="staticHistories" value="{{dragon?.histories}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="staticCreatedAt" class="col-sm-2 col-form-label">Criado em</label>
      <div class="col-sm-10">
        <input type="text" formControlName="createdAt" value="{{dragon?.createdAt}}"  class="form-control" id="staticCreatedAt" >
      </div>
    </div>
  </form>
  <button (click)="salvar()" type="submit">Salvar</button>
  <button (click)="voltar()">Voltar</button>
</div>
