
<footer class="page-footer">
    <div class="footer-copyright text-center py-3">© 2019:
      <a href="https://mdbootstrap.com/education/bootstrap/"> gitlab.com/thiagomart</a>
    </div>
  </footer>
