.fade {
  opacity: 0;
  transition: opacity 2s;
}
.fade .show{
  opacity: 1;
}

.collapse:click {
  display: none;
}
.collapse .show{
  display: block
}

tr {

}
tr .collapse.show{
  display: table-row;
}

tbody {

}
tbody .collapse.show{
  display: table-row-group;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: width 2s;
}

.max-screen {
  height: 70vh;
}
