<app-header></app-header>
  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 max-screen">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </main>
<app-footer></app-footer>
